@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "constant";
@import "~bulma/sass/utilities/derived-variables";

@mixin label-accent-sp {
  position: relative;
  padding: .75rem;
  margin-bottom: 0;
  overflow: hidden;
  background-color: $main-color;

  &:before {
    position: absolute;
    bottom: -30px;
    right: -90px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    content: '';
    opacity: 0.8;
    transform: rotate(-30deg);
  }
  &:after {
    position: absolute;
    right: 113px;
    bottom: -30px;
    width: 6px;
    height: 200px;
    background-color: $main-color;
    content: '';
    transform: rotate(-30deg);
  }
}
